<html>
    <head>
        <title>问答系统测试</title>
        <meta charset="utf-8" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    </head>
    <body>
                <section>
                        <h1>问答测试</h1>
                        <p>
                        <form method='post' id='queryForm'>
                            <table>
                                <tr>
                                    <td>问题： <input type="text" id="question" /></td>
                                    <td><button type="submit" id="queryButton">提问</button></td>
                                </tr>
                            </table>
                            <table id="qa_output">
                            </table>
                        </form>
                        </p>
                        <h1>语料库测试</h1>
                        <p>
                            <form method='post' id='queryCorpus'>
                                <button type="submit" id="queryCorpusButton">获得语料库</button>
                                <table id="corpus_output">
                                </table>
                            </form>
                        </p>
                </section>
        <script>
            $(document).ready(function() {
                var socket = io('/socket');
                socket.on('connect',function() {
                    console.log('connected to server!');
                    // send join_room event right after connect socket
                    socket.emit('listening');
                });
                socket.on('msg', function(data) {
                    response = data['answers'];
                    console.log('received message!');
                    for (var answer in response) {
                        var weight = response[answer][0];
                        var question = response[answer][1];
                        $("#qa_output").prepend("<tr><td>" + question + "</td><td>" + answer + "</td><td>" + weight + "</td></tr>");
                    }
                });
            });
            $("#queryButton").click(function(e) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=UTF-8",
                    url: "/qasystem",
                    data: JSON.stringify({"query": $("#question").val()}),
                    success: function(data) {
                        // clear output area for coming answers
                        $("#qa_output").empty();
                    }
                });
                e.preventDefault();
            });
            $("queryCorpusButton").click(function(e) {
                $.get("/getcorpus", function(data) {
                    var json = JSON.parse(data);
                    $("#corpus_output").empty();
                    for (var item in json) {
                        var id = item[0];
                        var corpus = item[1];
                        var type = item[2];
                        var dt = item[3];
                        $("#corpus_output").prepend("<tr><td>" + id + "</td><td>" + corpus + "</td><td>" + type + "</td><td>" + dt + "</td></tr>"); 
                    }
                });
                e.preventDefault();
            });
        </script>
    </body>
</html>

