<html>
    <head>
        <title>问答系统测试</title>
        <meta charset="utf-8" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js"></script>
    </head>
    <body>
        <section>
            <h1>问答测试</h1>
            <p>
                <form method='post' id='queryForm'>
                    <table>
                        <tr>
                            <td>问题： <input type="text" id="question" /></td>
                            <td><button type="submit" id="queryButton">提问</button></td>
                        </tr>
                    </table>
                    <table id="qa_output">
                    </table>
                </form>
            </p>
            <p>
                <form method='post' id='corpus'>
                    <table>
                        <tr>
                            <td>id: <input type="text" id="corpus_id" /></td>
                            <td>corpus:<input type="text" id="corpus" /></td>
                            <td>type:<input type="text" id="corpus_type" /></td>
                            <td>date:<input type="text" id="corpus_date" /></td>
                        </tr>
                        <tr>
                            <td><button type="submit" id="getCorpusButtton">get</button></td>
                            <td><button type="submit" id="addCorpusButtton">add</button></td>
                            <td><button type="submit" id="deleteCorpusButton">remove</button></td>
                            <td><button type="submit" id="updateCorpusButton">update</button></td>
                        </tr>
                    </table>
                    <table id="corpus_output">
                    </table>
                </form>
            </p>
        </section>
        <script>
            $(document).ready(function() {
                var socket = io('/socket');
                socket.on('connect',function() {
                    console.log('connected to server!');
                    // send join_room event right after connect socket
                    socket.emit('listening');
                });
                socket.on('msg', function(data) {
                    response = data['answers'];
                    console.log('received message!');
                    for (var answer in response) {
                        var weight = response[answer][0];
                        var question = response[answer][1];
                        $("#qa_output").prepend("<tr><td>" + question + "</td><td>" + answer + "</td><td>" + weight + "</td></tr>");
                    }
                });
            });
            $("#queryButton").click(function(e) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=UTF-8",
                    url: "/qasystem",
                    data: JSON.stringify({"query": $("#question").val()}),
                    success: function(data) {
                        // clear output area for coming answers
                        $("#qa_output").empty();
                    }
                });
                // prevent jumping to the page being called
                e.preventDefault();
            });
            $("#getCorpusButtton").click(function(e) {
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=UTF-8",
                    url: "/corpus",
                    data: JSON.stringify({"mode": "get", "data": []}),
                    success: function(data) {
                        $("#corpus_output").empty();
                        if (data["status"] == "faliure") {
                            $("#corpus_output").append("failed to get data from wd_corpus_lib");
                        } else {
                            // list output into a table
                            $("#corpus_output").append("<table>");
                            for(var d in data["retval"]) {
                                $("#corpus_output").append("<tr>");
                                $("#corpus_output").append("<td>" + d[0] + "</td>");
                                $("#corpus_output").append("<td>" + d[1] + "</td>");
                                $("#corpus_output").append("<td>" + d[2] + "</td>");
                                $("#corpus_output").append("<td>" + d[3] + "</td>");
                                $("#corpus_output").append("</tr>");
                            }
                            $("#corpus_output").append("</table>");
                        }
                    } // on success method
                }); // end ajax
		e.preventDefault();
            }); // end click method
        </script>
    </body>
</html>

