<!DOCTYPE html><html><head><meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0"><meta content="telephone=no" name=format-detection><meta content="telephone=no,email=no,adress=no" name=format-detection><meta name=x5-orientation content=portrait><meta name=x5-fullscreen content=true><meta name=x5-page-mode content=app><meta http-equiv=Access-Control-Allow-Origin content=*><meta http-equiv=Expires content=0><meta http-equiv=Pragma content=no-cache><meta http-equiv=Cache-control content=no-cache><meta http-equiv=Cache content=no-cache><meta charset=utf-8><title>水务加</title><link rel=stylesheet type=text/css href=./static/css/reset.css><link rel=stylesheet type=text/css href=./static/css/iconfont.css><link rel="shortcut icon" type=image/x-icon href=http://page.water-it.cn:88/favicon.ico><script src=https://cdn.jsdelivr.net/npm/socket.io-client@2/dist/socket.io.js></script><script type=text/javascript>var fontSize = 100;
        function goPAGE() {
            if ((navigator.userAgent.match(/(phone|pad|pod|iPhone|iPod|ios|iPad|Android|Mobile|BlackBerry|IEMobile|MQQBrowser|JUC|Fennec|wOSBrowser|BrowserNG|WebOS|Symbian|Windows Phone)/i))) {
                /*window.location.href="你的手机版地址";*/
                fontSize=100
            }
            else {
                /*window.location.href="你的电脑版地址";    */
                fontSize=55
            }
        }
        goPAGE();
        (function (doc, win) {
            var docEl = doc.documentElement,
                resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                recalc = function () {
                    var clientWidth = docEl.clientWidth;
                    if (!clientWidth) return;
                    if(clientWidth>=750){
                        docEl.style.fontSize = fontSize+'px';
                    }else{
                        docEl.style.fontSize = 100 * (clientWidth / 750) + 'px';
                    }
                };

            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document, window);
        Array.prototype.remove = function(val) {
            var index = this.indexOf(val);
            if (index > -1) {
                this.splice(index, 1);
            }
        };</script><style>.loadEffect{
	        position: fixed;
	        left:0;
	        right:0;
	        top:0;
	        bottom: 0;
	        z-index: 999;
	        display: none;
	    }
	    .loadEffect .tips{
	        position: absolute;
	        left: 0;
	        right: 0;
	        top: 40%;
	        margin: 0 auto;
	        width: 110px;
	        height: 40px;
	        background-color: #000;
	        color: #fff;
	        text-align: center;
	        line-height: 40px;
	        border-radius: 5px;
	    }</style><link href=./static/css/app.ef7e735111f0d1c79495641a220af81a.css rel=stylesheet></head><body><div id=app></div><div class=loadEffect><div class=tips>正在加载中...</div></div><script type=text/javascript src=./static/js/manifest.864b54bdf392ef1fc002.1571307979278.js></script><script type=text/javascript src=./static/js/vendor.7020e07192f30e2d2e4a.1571307979278.js></script><script type=text/javascript src=./static/js/app.b20c6471c5da78df29c9.1571307979278.js></script></body></html>